html,
body {
  height: 100%;

}

body {
  background-color: rgb(0, 0, 0);
  color: black;
  margin: 0px;
  padding: 1em;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  background: linear-gradient(to right, rgb(255, 0, 132) 40%, cyan 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 100%;
  height: 10%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
  font-family: "Roboto Mono", ;
  justify-content: center;
  display: inline-block;
}

/*   <textarea disabled placeholder="Aguarde..." id="textDois" rows="15" cols="70"></textarea> em cima

    <textarea disabled placeholder="Aguarde..." id="textQuatro" rows="15" cols="70"></textarea> em cima

    <textarea placeholder="Escreva seu texto aqui" id="textUm" rows="10" cols="70"></textarea> baixo

   <textarea placeholder="Escreva seu texto aqui" id="textTres" rows="10" cols="70"></textarea> baixo
   */

.areaTexto textarea {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 132);
  text-align: center;
  width: 80%;
  font-family: "Roboto Mono", monospace;
  margin-left: 10%;
  margin-right: auto;
  display: inline-block;
  resize: none;
}

.areaTexto {
  display: flex;
  justify-content: center;
}

.esquerda textarea{
  color: rgb(255, 0, 132);
 box-shadow:  rgb(255, 0, 132) 0px 0px 7px 4px;
}

.direita textarea {
  color: cyan;
  box-shadow: cyan 0px 0px 7px 4px;
}

button {
  margin: 05px auto;
  padding: 10px 40px;
  background-color: #080808;
  color: rgb(255, 0, 132);
  border: none;
  border-radius: 0;
  font-size: 14px;
  cursor: pointer;
  float: center;
  margin-left: auto;
}

button:hover {
  background-color: rgb(255, 0, 132);
  color: black;
}

#msgCod {
  display: inline-block;
  color: cyan;
}

#msgCod:hover {
  background-color:rgb(255, 0, 132) ;
  color: cyan ;
}
#msgDecod {
  display: inline-block;
  color:  rgb(255, 0, 132);
}

#msgDecod:hover {
  background-color: cyan;
  color:  rgb(255, 0, 132);
}

a {
  text-decoration: none;
}

#deslocamento {
  display: inline-block;
  text-align: center;
  padding: 2px;
  width: 4%;
  font-size: 18px;
  color: rgb(255, 0, 132);
  border: 1px solid cyan;
  border-radius: 4px;
  background-color: transparent;
  margin-left: 47%;
  margin-right: auto;
}

footer{
  
}